.App {
  text-align: center;
}

.App header {
  background-color: #444;
  text-align: center;
  padding: 2rem 0;
  color: #ddd;
  font-size: 2rem;
}

.App main {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.App footer {
  background-color: #888;
  padding: 0.5rem 0;
  text-align: center;
  color: #ddd;
}

.App footer a {
  color: #ddd;
  text-decoration: none;
}

.App footer a:hover {
  color: #fff;
  text-decoration: underline;
}
